<p id="notice"><%= notice %></p>

<p>
  <strong>Customer name:</strong>
  <%= @order.customer_name %>
</p>

<%= link_to 'Edit', edit_store_order_path(@store, @order) %> |
<%= link_to 'Back', store_orders_path(@store) %>
